<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <img src="img/newpot.jpeg" width="100" height="60" align ="right">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container text-center">
    <h1 class="display-5">About</h1>
    <p class="lead"></p>
</div>
<div class="container mt-5">
  <div class ="row bg-info py-3">
    <div class="col-sm-6">
      <img class="img-fluid" src="img/giants.jpg" alt="Card image cap">
    </div>
    <div class="col-sm-6">
      <h3 class="m-b-2">Jarvis Potter, CEO</h3>
      <p>NewPOT Solutions, a St. Louis, Mo. based African American owned company, was incorporated in 2000 to leverage the former President George W. Bush’s national security and transportation initiatives.  As a two term past president of COMTO (Conference of Minorities Transportation Officials) and a Board member of Transportation Diversity Council, NewPOT Solutions’ owner, Kevin Potter, is quite familiar with the infrastructure needs of agencies and corporations, not to mention key personnel for appropriate positioning nationwide.  The initial step as a vendor who supplied, installed, and provided maintenance of security surveillance systems combined withexperience as a supplier, installer, and construction work zone traffic maintenance</p>
    </div>
  </div>
  <div class ="row bg-secondary py-3">
    <div class="col-sm-6">
      <h3 class="m-b-2">Kevin Potter Potter, CFO</h3>
       <p>Kevin Potter is a product of St. Louis Public School System (Dozier Elementary, Enright Middle, and Soldan High) and was the PHL Baseball and Football Player of the Year his senior year in 1978. He was heavily recruited by Oklahoma State, Purdue, Illinois, however, he selected The University of Missouri to continue his college career as a student/athlete. He was redshirted his true freshman year after playing in the first three games. However, he did make the traveling squad as a second team cornerback as he played behind an eventual All Big 8 Cornerback. He was on the team that beat Notre Dame 3-0 in South Bend, Indiana. He was a 4 year starter at Strong Safety for Mizzou. He was First Team All Big 8 and Football News All – American during his junior year. He was Athlon’s Pre-Season All – American and The Big 8 conferences Pre-Season Defensive Player of the Year entering his senior season. However, a broken ankle during the summer of his senior year knocked his status from a projected first to third round NFL Player to being selected by the Houston Oilers in the 9th round in 1983. He graduated from the School of Education with a B.E.S. Major in Counseling and Psychology. He finished his career with the Chicago Bears 1983 to 1985.</p>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid" src="img/giants.jpg" alt="Card image cap">
    </div>
  </div>
</div>
