<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img src="img/newpot.jpeg" width="100" height="60" align ="right">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container text-center">
    <h1 class="display-5">Gallery</h1>
    <p class="lead"></p>
</div>

<div class="container">
<div class="card-columns">
  <div class="card">
    <img class="card-img-top img-fluid" src="img/cowboys.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">AT&T Stadium</h4>
      <p class="card-text"> is a city-owned 80,000-seat capacity stadium with a retractable roof in Arlington, Texas, United States. It serves as the home of the Dallas Cowboys of the National Football League (NFL).</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="img/cardinals.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">University of Phoenix Stadium</h4>
      <p class="card-text">is a multi-purpose football stadium located in Glendale. It is the home of the Arizona Cardinals of the National Football League (NFL) and the annual Fiesta Bowl.
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="img/seahawks.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">CenturyLink Field</h4>
      <p class="card-text">Multi-purpose stadium in Seattle, Washington. It is the home field for the Seattle Seahawks of the National Football League (NFL) and Seattle Sounders FC of Major League Soccer (MLS).
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="img/giants.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">MetLife Stadium</h4>
      <p class="card-text">It is part of the Meadowlands Sports Complex and serves as the home stadium for two National Football League franchises: the New York Jets and the New York Giants.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="img/colts.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Lucas Oil Stadium</h4>
      <p class="card-text">Lucas Oil Stadium is a multi-purpose stadium in downtown Indianapolis, United States. It replaced the RCA Dome as the home field of the NFL's Indianapolis Colts.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="img/broncos.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Sports Authority Field at Mile High</h4>
      <p class="card-text">is an American football stadium in Denver, Colorado. The field is named after a sponsor and the stadium is named Mile High.</p>
    </div>
  </div>
  </div>
</div>
