<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img src="img/newpot.jpeg" width="100" height="60" align ="right">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <h1 class="display-3">NEWPOT Solutions</h1>
  <p class="lead">These are the MAGNIFICENT stadiums we built!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/gallery" role="button">View Gallery</a>
  </p>
</div>
<div class="container">
  <div class ="row">
    <div class="col-sm-6">
    <h3 class="m-b-2">History</h3>
      <p>NewPOT Solutions, a St. Louis, Mo. based African American owned company, was incorporated in 2000 to leverage the former President George W. Bush’s national security and transportation initiatives.  As a two term past president of COMTO (Conference of Minorities Transportation Officials) and a Board member of Transportation Diversity Council, NewPOT Solutions’ owner, Kevin Potter, is quite familiar with the infrastructure needs of agencies and corporations, not to mention key personnel for appropriate positioning nationwide.  The initial step as a vendor who supplied, installed, and provided maintenance of security surveillance systems combined withexperience as a supplier, installer, and construction work zone traffic maintenance</p>
    </div>
    <div class="col-sm-6">
    <h3>Expierence</h3>
      <p>Through dedicated NewPOT Solutions staff and trusted partners, we will provide a very high level of transportation services. This statement is back by years of experience in working with various governmental entitieson a wide range of transportation projects. Several team members have significant experience (20 to 30 years) in working at state and local departments of transportation. As a result, we understand federal, state and local requirements and how to successfully deliverthe best solutions that meet and exceed project expectations. We also have considerable experience in working with the general public in gaining public support of today’s project that in most situations leads to their support on future projects.</p>
    </div>
    </div>
</div>
